@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background-color: #26292B;
  color: #FFF;
}

.main {
  font-family: "Kantumruy Pro", sans-serif;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar {
  background-color: #A2B2EE;
  border-radius: 5px;
  padding: 10px;
}
.calendar__days {
  display: flex;
  flex-direction: row;
}
.calendar__date {
  text-align: right;
  padding: 0 0 10px 0;
}

.days {
  padding: 0 0 5px 0;
}
.days__item {
  text-transform: capitalize;
  width: 50px;
  line-height: 40px;
  text-align: center;
  background-color: #5F7ADB;
  border-radius: 5px;
  margin: 0 5px 0 0;
  font-size: 20px;
}
.days__item:last-child {
  margin: 0;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.numbers__item {
  color: #26292B;
  text-align: center;
  width: 50px;
  line-height: 40px;
  font-size: 20px;
}
.numbers__item:last-child {
  margin: 0;
}

.numbers__item._today {
  background-color: #5F7ADB;
  border-radius: 5px;
  color: #FFF;
}

.numbers__item._start {
  grid-column-end: 6;
}

.navigator {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  font-size: 25px;
}
.navigator__left {
  margin: 0 30px 0 0;
  transition: all 0.2s linear;
  cursor: pointer;
}
.navigator__left:hover {
  transition: all 0.2s linear;
  color: #5F7ADB;
}
.navigator__right {
  cursor: pointer;
  transition: all 0.2s linear;
}
.navigator__right:hover {
  transition: all 0.2s linear;
  color: #5F7ADB;
}