// Обнуление стилей
@import "nullstyle.scss";
// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap');
//SCSS
body{
    background-color: #26292B;
    color: #FFF;
}
.main {
    font-family: 'Kantumruy Pro', sans-serif;
}
.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar {
    background-color: #A2B2EE;
    border-radius: 5px;
    padding: 10px;
		&__head {
		}

		&__days {
            display: flex;
            flex-direction: row;
		}

		&__body {
		}
        &__numbers {
        }
        &__date{
            
        }
}
.days {
    padding: 0 0 5px 0;
		&__item {
            width: 50px;
            line-height: 40px;
            text-align: center;
            background-color: #5F7ADB;
            border-radius: 5px;
            margin: 0 5px 0 0;
            font-size: 20px;
            &:last-child{
                margin: 0;
            }
		}
}

.numbers {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    &__item {
        color: #26292B;
        text-align: center;
        width: 50px;
        line-height: 40px;
        font-size: 20px;
        &:last-child{
            margin: 0;
        }
    }
}
.numbers__item._today{
    background-color: #5F7ADB;
    border-radius: 5px;
    color: #FFF;
}
.numbers__item._start{
    grid-column-end: 6;
}